<h3>Create Account</h3>
<form
  [formGroup]="authForm"
  class="ui form"
  style="display: flex; flex-direction: column; gap: 10px"
  (ngSubmit)="onSubmit()"
>
  <app-input
    [label]="'User Name'"
    [control]="authForm.controls.userName"
  ></app-input>
  <app-input
    [label]="'Password'"
    [control]="authForm.controls.password"
    [type]="'password'"
  ></app-input>
  <app-input
    [label]="'Password Confirmation'"
    [control]="authForm.controls.passwordConfirmation"
    [type]="'password'"
  ></app-input>
  <button
    class="ui button primary submit"
    type="submit"
    [disabled]="authForm.invalid"
  >
    Sign Up
  </button>
  <p
    *ngIf="authForm.errors?.['noConnection']"
    class="ui pointing red basic label"
  >
    No connection to the server
  </p>
  <p
    *ngIf="authForm.errors?.['unknownError']"
    class="ui pointing red basic label"
  >
    An unknown error occurred
  </p>
</form>
