<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Angular Email Client</a>
    <div class="right menu">
      <ng-container *ngIf="signin$ | async">
        <a class="ui item" routerLink="/inbox" routerLinkActive="active"
          >Inbox</a
        >
        <a class="ui item" routerLink="/auth/signout" routerLinkActive="active"
          >Sign Out</a
        >
      </ng-container>

      <ng-container *ngIf="!(signin$ | async)">
        <a
          routerLink="/auth/signin"
          routerLinkActive="active"
          class="item"
          [routerLinkActiveOptions]="{ exact: true }"
          >Sign In</a
        >
        <a
          routerLink="/auth/signup"
          routerLinkActive="active"
          class="item"
          [routerLinkActiveOptions]="{ exact: true }"
          >Sign Up</a
        >
      </ng-container>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
